div.target  {
	margin: 0;
	padding: 0;
}

#main {
	width: 60%;
	float: right;
}

#main div.target {
	background: #ccc;
}

#main div.target:nth-child(even) {
	background: #eee;
}

#nav {
	position: absolute;
	font-size: 7px;
	top: 0%;
}

#nav nav {
	position: fixed;
	width: 5%;
	height: 20%;
}

#nav a {
	border-bottom: 1px solid #666;
	color: #333;
	display: block;
	padding: 1px;
	text-align: center;
	text-decoration: none;
}

#nav a:hover, #nav a.active {
	background: #666;
	color: #fff;
}

#fixedbox {
	top: 20%;
	width: 35%;
	height: 80%;
	position: fixed;
}