/*********************
BALLOT DESIGN
**********************/

#ballot{

	width: 375px;
	height: 250px;
	margin-left: 20px;
	margin-bottom: 10px;

	overflow: hidden;
	float:left;

	background: #F0EAD6;
	color: #302707;

	background-size: 100% 100%;
	border: 2px solid #fff;

	position: relative;
	

}
#ballot .ballot_sprite{
	position: absolute;
	background-size: 100% auto;
}

.button-group{
	margin-left: 0px;
	float:left;
	clear:both;
}

#reset {
	top: 270px;
	left: 275px
}

.model {
	height:260px;
	margin-bottom: 10px;
}