/************

Election/Sandbox design:
- buttons to the left
- caption to the right

************/

#left, #center, #right{
	float:left;
	height: 320px;
}
#left{
	width:220px;
	padding-right: 20px;
	height: 371px;
}
#center{
	width:320px;
	height: 370px;
}
#right{
	width: 220px;
	padding-left: 20px;
	overflow-y: auto;
}
#caption{
	text-align: left;
	font-size: 23px;
	line-height: 1.0em;
}
#caption .small{
	font-size: 15px;
	line-height: 1.0em;
}
.buttonshape img{
	height: 1em;
	position: relative;
	top:0px;
}


#right img{
	height: 1em;
	position: relative;
	top:2px;
}

.button-group{
	overflow: hidden;
	margin-bottom: 5px;
}
.button-group-label{
	font-weight: bold;
    font-size: 15px;
    margin-bottom: 2px;
    line-height: 1.1em;
}
.button{
	float: left;
	cursor: pointer;
    background: #bbb;
    color: #555;
	height: 20px;
	line-height: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3px;
    padding: 1px 0;
    
    position: relative;
    top:0;

	-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
.button:hover{
	background: #ddd;
}
.button:active{
	background: #aaa;
}
.button[on=yes]{
	background: #333;
	color: #fff;
}
.button[on=yes]:hover{
	background: #555;
}
.button[on=yes]:active{
	background: #111;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#ohno{
	font-size: 2em;
	position: relative;
	top:10px;
}

input[type=range]{
    border: 0px solid white; 
    width: 22%;
	display:inline;
	margin-left:10%;
	margin-top: 20px;
	margin-bottom: 25px;
	transform: rotate(270deg);
}

#containsliders{
	
}


#reset{
	position:absolute;
	top: 340px;
	left: 240px;
}

#save{
	position:absolute;
	top: 340px;
	left: 350px;
}

#savelink{
	position: absolute;
    top: 340px;
    left: 460px;
    width: 82px;
    height: 15px;
    padding: 8px;
    font-size: 12px;
}